modules = ["python-3.11", "web"]
run = "python3 -m http.server"

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "static"
publicDir = "."

[[ports]]
localPort = 8000
externalPort = 80
